
#tables>ul>li>button{
    width:80%;
    height:30px;
    
    padding:0 0 0 5px;
    border-radius:5px;
    background-color:white;
    display:flex;
    flex-direction:row;

    &>span:nth-child(2){
        font-size:12px;
        margin:2px 5px 0 auto;
        display:block;
    }
    &:hover {
        outline:2px solid gray;
    }
    &:active,
    &:focus {
        outline:2px solid rgb(8, 86, 255);
    }
    &.selected {
        color: rgb(0, 30, 255);
        outline:1px solid rgb(78, 111, 184);
    }
    margin:0;
    border:none;
    outline:1px solid gray;
    
    &>span:nth-child(1) {
        font-size:16px;
        
        margin:0;
        line-height:30px;
        display:block;
        text-overflow:ellipsis;
        overflow:hidden;
        width:100%;
        text-align:left;
        white-space:nowrap;
    }
}

#tables>ul>li{
    margin-top:10px;
    display:flex;
    justify-content:center;
}

#tables>ul {
    margin:0;
    padding: 0 0 0 0;
    height:100%;
    overflow-y:scroll;
    
}
#tables {
    
    height:100%;
    flex:2;
}