@import url("./panel.css");
@import url("./e.css");


#view.form {
    & #e {
        overflow:hidden;
    }
    
    &>#panel>.search {
        display:none;
    }
    
    &>#panel>.cud {
        display:flex;
    }
    & #form {
        display:block;
    }
}

#view {
    
    display:flex;
    flex-direction:column;

    & #form {
        z-index:100;
        display:none;
    }


    &>#panel>.search {
        display:flex;
    }

    &>#panel>.cud {
        display:none;
    }

    height:100%;
    flex:8;
}